.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    margin: 0% 10%;
    margin-bottom: 5%;
    padding: 2% 2%;
  }